body {
    font-family: "Montserrat", sans-serif;
    color: #495057;
    background-color: #e9ecef;
    margin:0;
}

p {
    font-size: 1.15rem;
}

#a {
    color: #28ABE2;
    font-family: "PT Serif", serif;
}

#p {
    color: #96C950;
    font-family: "PT Serif", serif;
}

.navBar {
    background-color: #343a40;
    position: fixed;
    width:100%;
    left:0;
    color: white;
    height:70px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding:0 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navLinks {
    list-style:none;
    display: flex;
    justify-content: flex-end;
    gap:2rem;
    margin:60px;;
    padding: 0;
}

button  {
    background-color: #343a40;
    color: white;
    font-size: 1.3rem;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    position: relative;
    transition: transform 0.3s ease-in-out;
    border-radius: 15px;
    border: 5px solid #343a40;
}

body > div.main > div.boxFlexContainer > div.query.card > button {
    text-transform: uppercase;
    position: relative;
    bottom:75px;
    left:470px;
    padding: 10px 30px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

body > div.navBar > ul > li > button::after {
    position: absolute;
    content: '';
    height: 3px;
    left:0;
    bottom:-1px;
    width: 0%;
    background: linear-gradient(45deg, #28ABE2,#96C950);
    transition: width .2s;
    color: #e9ecef;
}

body > div.navBar > ul > li > button:hover::after {
    width: 100%;
}

body > div.main > div.boxFlexContainer > div.query.card > button:hover {
    color: #e9ecef;
}

.main {
    width: 90%;
    padding:10px 10px;
    margin-left: 5%;
}

.description {
    margin-top:6rem;
    margin-bottom: 4rem;
}

.query.card {
    text-transform: uppercase;
}

.boxFlexContainer {
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#inputData {
    flex-basis: 650px;
    padding:30px;
    border-radius: 20px;
    border: 2px solid #343a40;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.model-response.card {
    width:650px;
    margin-right: 20px;
}

.output {
    border-radius: 20px;
    border: 2px solid #343a40;
    background-color:#ffffff;
    flex-basis:640px;
    height: 350px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h2,h3 {
    margin-top: 0;
}

h3 {
    border-bottom: 2px solid;
    border-image: linear-gradient(45deg, #28ABE2,#96C950);
    border-image-slice: 1;
    display: inline-block;
    margin-bottom: 0px;
}

p {
    margin-top: 10px;
}

.future {
    clear:both;
}


/* mobile size */
@media (max-width:730px) {
    body > div.main > div.boxFlexContainer > div.query.card > button {
        left:230px;
    }
    .navBar {
        font-size: 0.5rem;
    }
    body > div.navBar > ul > li > button {
        font-size: 0.8rem;
    }
    
    #inputData {
        width: 330px;
    }
}
